/* css for form and body */
h1 {
    font-family: sans-serif;
    text-align: center;
    color: black;
}
body {
    background-image: url(sam.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    height: 30px;
    width: 49%;
    font-family: sans-serif;
    margin-top: 28px;
    margin: 5px;
    font-size: larger;
    border-radius: 6px;
    border: 2px, black ,solid;
    border: 1px solid black;
}
.inputcontainer {
    width: 100%;
    height: auto;
    display: inline-block;
}
.description {
    height: 120px;
    width: 100%;
    margin: 5px;
    font-family: sans-serif;
    font-size: larger;
    border-radius: 10px;
}
button{
    height: 20px;
}
.submitbutton {
    background-color: black;
    color: white;
    height: 40px;
    width: 110px;
    margin: 5px;
    border-radius: 10px;
}
.submitbutton:hover{
    background-color: blue;
}
.date {
    width: 170px;
}

/* task css starts from here */

.task {
    border: 1px solid black;
    font-family: sans-serif;
    /* margin: 0px; */
    padding: 6px;
    margin-top: 10px;
    margin-right: -5px;
    background: white;
    border-radius: 8px;
}
.delete-button {
    border: solid 1px black;
    width: 131px;
    height: 36px;
    /* padding: 3px; */
    /* padding-left: 8px; */
    /* padding-top: 8px; */
    background-color: red;
    color: white;
    font-size: large;
    font-family: sans-serif;
    border-radius: 6px;
}
.details {
    margin-top: -20px;
}
.taskd{
    font-size: large;
}
.delete-button:hover{
    background-color: black;
}
#checkbox {
    border: 2px solid black;
    /* padding: 8px; */
    padding-left: 27px;
    height: 30px;
    width: 30px;
    /* margin: 11px; */
    margin-left: 20px;
}